*{
    font-family: 'Ubuntu', sans-serif;
}

.app{
    font-family: 'Ubuntu', sans-serif;
}

.fullWindow {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.fullWindow .chat-messages{
    background: rgba(255,255,255,0.25) !important;
    border: none !important;
}

.fullWindow .chat-header{
    display: none !important;
}

.fullWindow .chat-suggestions{
    background: rgba(255,255,255,0.25) !important;
}

.fullWindow .chat-footer{
    background: rgba(255,255,255,0.25) !important;
    border: none !important;
}

.chat-box {
    width: 25em;
    height: 35em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
    z-index: 999999999999999999;
    transition: 1s;
}
.chat-box .chat-messages{
    flex: 1;
    background: #F6F6F6;
    padding: 1em;
    overflow-y: auto;
    border: .05em solid #ccc;
}
.chat-box .chat-messages .chat-message{
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}
.chat-box .chat-messages .chat-message.left{
    justify-content: flex-start;
}
.chat-box .chat-messages .chat-message.rigth{
    justify-content: flex-end;
}
.chat-box .chat-messages .chat-message .chat-picture{
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
    padding: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.chat-picture i{
    font-size: 3em !important;
    color: white;
}
.chat-box .chat-messages .chat-message .imageContainerLeft {
    background: white;
    margin-right: 1em;
    border-radius: 100%;
    background: #5A85C1;
    border: 4px solid white;
}
.chat-box .chat-messages .chat-message .chat-picture.rigth{
    margin-left: 1em;
    background: #5A85C1;
    border: 4px solid white;
    font-size: 1.1em;
}
.chat-box .chat-messages .chat-message .balloon{
    background: white;
    border-radius: .5em;
    padding: .5em 1em;
    width: 70%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
}
.chat-box .chat-messages .chat-message .balloon .date {
    font-size: .75em;
    text-align: right;
}
.chat-box .chat-suggestions {
    background: #ddd;
    display: flex;
    overflow-x: auto;
}
.chat-box .chat-suggestions .chat-suggestion {
    margin: .5em;
    padding: .5em;
    border-radius: .5em;
    background: white;
    cursor: pointer;
    white-space: nowrap;
}
.chat-box .chat-footer{
    display: flex;
    padding: 0.1em 0.5em;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.08);
    background: white;
}
.chat-box .chat-footer input{
    flex: 1;
    background: white;
}
input, textarea, select{
    padding: .5em 1em;
    /* border: .05em solid #5A85C1; */
    border: none;
    width: 100%;
    border-radius: 2em;
    font-size: 1em;
}
input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}

.button-rounded{
    border-radius: 100%;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin-left: .5em;
    border: 0;
    cursor: pointer;
}

.button-rounded img{
    width: 80%;
}
.button-rounded.active{
    background: lime;
}
.chat-header{
    padding: 0.7em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5A85C1;
    border-radius: 10px 10px 0px 0px;
}
.chat-header .title{
    font-size: 1.25em;
    font-weight: 800;
    color: white;
}
.chat-header .rigth i{
    cursor: pointer;
    color: white;
    font-size: 1.4em !important;
}

.chat-button-container{
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    border-radius: 100%;
    border: .05em solid #5A85C1;
    z-index: 999999999999999999;
    cursor: pointer;
    position: fixed;
    bottom: 1.25em;
    right: 1.25em;
    background: #5A85C1;
}

.chat-button{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.writting {
    padding: 1em;
    color: white;
}

.dataMessage{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.2em;
    min-height: 1.8em;
}

.playControls{
    margin: 0 0.5em;
    width: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playControls img{
    width: 80%;
}

i{
    font-size: 1.2em !important;
    color: #5A85C1
}

.infoModal{
    width: 15em;
    min-height: 5.5em;
    background: #ebebeb;
    position: fixed;
    bottom: 8em;
    border-radius: 10px;
    right: 1.25em;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.16);
}

.infoModal img{
    position: absolute;
    top: -1.3em;
    left: 0.5em;
    width: 3em;
    max-height: 3em;
}

.pico{
    position: fixed;
    bottom: 7em;
    right: 5em;
    width: 0;
    height: 0;
    border-right: 10px solid #ebebeb;
    border-top: 10px solid #ebebeb;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.cross{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #5e80a5;
}

.textInfo{
    margin: 1.8em 1em 1em 1em;
    color: #5e80a5;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

a {
    background-color: #f8f9fa;
    text-decoration: none;
    display: block;
    padding: 4px 9px;
    font-size: 12px;
    margin: 10px 3px 0px 3px;
    border: 1px solid #3e3e3e1f;
    border-radius: 4px;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    color: rgb(128, 128, 128);
    text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #bbb;
}

.fullWindow ::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5A85C1;
}

.seeMoreDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.seeMoreButton{
    margin: 0.5em 0em;
    padding: 0.5em 1em;
    text-align: center;
    background: #ccc;
    border-radius: 0.5em;
    cursor: pointer;
}

.seeMoreButton:hover{
    background: black;
    color: white;
}

iframe{
    width: 100%;
}

.chat-box .chat-messages .chat-message .balloon img{
    width: 100%;
    max-width: 30em;
}

.chat-box .chat-messages .chat-message .balloon .text{
    text-align: justify;
    padding: 0.2em 0;
}

.chat-box .chat-messages .chat-message .balloon .text img{
    border-radius: 1em;
    box-shadow: 0 0 1em #ccc;
}